.card{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    background-color: #B0E0E6;
    border-radius: 2rem;
}
.card:hover{
    opacity: 0.7;
}

.cardImage{
    border-radius: 1.3rem;
    background-color: azure;
}


@media (max-width: 588px){
    .cardImage{
        width: 90%;
        height: auto;
    }
}

.textName{
    color: black;
    font-size: 1.25rem;
}

.textType{
    color: #696969;
    font-size: 1rem;
}