.detailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 100vmax;
  }
  
  .columns{
      max-width: 400px;
      height: auto;
      height: 18rem;
      margin: 1.3rem;
  }
  
  .image{
    border-radius: 2rem;
  }
  
  .text{
      font-size: 1.9rem;
  }
  